*.class

# Package Files #
*.jar
*.war
*.ear
/store/store-services/
/store/store-api/
/dynamicroutes/
/vsc/
/WebAppTest/
/examples-parent/
/examples/
/errorhandling/
/MavenWebApp/
/multispeak/
/store/
/pricequote/
/ge/

# build artifacts
*~
*.orig
*.rej
*.swp
*.local
target
derby.log
.DS_Store

# ide artifacts
.project
.classpath
.settings
.metadata
.checkstyle
.ruleset
.pmd
*.iml
*.ipr
*.iws

/GroovyJavaDemo/nbproject/private/
/GroovyJavaDemo/build/
/GroovyExample/nbproject/private/
/GroovyExample/build/
/groovy/util/nbproject/private/
/groovy/util/build/
/groovy/util/dist/