<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>helloworld</display-name>
	<description>basic helloworld example</description>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- use option below to load just the application contexts in the META-INF/spring directory -->
	<!-- param-value>WEB-INF/META-INF/spring/*.xml</param-value -->
	<!-- use option below to load the default applicationContext plus the application contexts in the META-INF/spring directory -->
	<!-- param-value>WEB-INF/applicationContext.xml WEB-INF/META-INF/spring/*.xml</param-value -->
	<!-- If contextConfigLocation is not specified, the default WEB-INF/applicationContext.xml is used. 
             the option below makes that explicit -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>helloworld</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>helloworld</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
